<extend name="Public:base" />
<block name="main">
    <section class="section">
        <div class="section-header">{{langData.memberInfo[lang]}}</div>
        <div class="section-content">
            <form class="form-inline" method="get" action="?" id="search_form">
                <div class="form-group">
                    <input type="text" name="keyword" value="{$Think.get.keyword}">
                    <button class="blue-btn" type="submit">{{langData.search[lang]}}</button>
                    <button class="blue-btn" type="button" onclick="memberExcel()">导出</button>

                    <button class="file-content blue-btn" id="submitButton">
                        <span>
                            导入会员
                        </span>
                        <input type="file" id="myfile1" name="file1" onchange="memberImportPost()" />
                    </button>
                </div>
            </form>
            <div id="all">
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{langData.phoneNum[lang]}}</th>
                        <th>昵称</th>
                        <th>{{langData.compellation[lang]}}</th>
                        <th>{{langData.birthday[lang]}}</th>
                        <th>{{langData.gender[lang]}}</th>
                        <th>{{langData.balance[lang]}}</th>
                        <th>{{langData.operating[lang]}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name="lists" item="v">
                        <tr>
                            <td>{++$key}</td>
                            <td>{$v['mobile']}</td>
                            <td>{$v['nickname']}</td>
                            <td>{$v.realname}</td>
                            <td>{$v['birthday']}</td>
                            <td><eq name="v.sex" value="1">{{langData.male[lang]}}<else />{{langData.female[lang]}}</eq></td>
                            <td>{$v['money'] / 100}元</td>
                            <td>
                                <button class="edit-btn" data-toggle="modal" data-target="#storeModal" onclick="modify_member({$v.id})"></button>
                                <button class="remove-btn" onclick="delInfo({$v.id})"></button>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
                <div class="text-center">
                    <ul class="pagination" id="detail-page">{$page}</ul>
                </div>
            </div>
        </div>
        <!-- /会员信息 -->
    </section>

    <div class="modal fade dishesClassifyModal" id="storeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 666px;">
            <div class="modal-content">
                <form id="add_restaurant" action="javascript:void(0)">
                    <div class="modal-header">
                        <button type="button" class="close-btn" data-dismiss="modal" aria-hidden="true" id="close_btn"></button>
                        <h4 class="modal-title">{{langData.dishesCategorySettings[lang]}}</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="id">
                        <div class="modal-item">
                            <span>{{langData.weixinHeadImgUrl[lang]}}:</span>
                            <img src="" alt="" width="70" id="headimgurl">
                        </div>
                        <div class="modal-item">
                            <span>微信昵称:</span>
                            <span id="nickname"></span>
                        </div>
                        <div class="modal-item">
                            <span>{{langData.memberName[lang]}}:</span>
                            <input type="text" id="realname" name="realname" :placeholder="langData.memberName[lang]">
                        </div>
                        <div class="modal-item">
                            <span>{{langData.phoneNum[lang]}}:</span>
                            <input type="text" id="mobile" name="mobile" :placeholder="langData.phoneNum[lang]">
                        </div>
                        <div class="modal-item">
                            <span>{{langData.Gender[lang]}}:</span>
                            <select name="sex" id="sex">
                                <option value="0">--{{langData.Gender[lang]}}--</option>
                                <option value="1">{{langData.male[lang]}}</option>
                                <option value="2">{{langData.female[lang]}}</option>
                            </select>
                        </div>
        
                       <!--  <div class="modal-item">
                            <span>{{langData.birthday[lang]}}:</span>
                            <input type="text" id="birthday" name="birthday" :placeholder="langData.birthday[lang]">
                        </div> -->
                        <div class="modal-item">
                            <span>{{langData.password[lang]}}:</span>
                            <input type="text" id="password" name="password" :placeholder="langData.password[lang]">
                        </div>
                        <div class="modal-item">
                            <span>{{langData.confirmPassword[lang]}}:</span>
                            <input type="text" id="passwords" name="passwords" :placeholder="langData.confirmPassword[lang]">
                        </div>
                        <div class="modal-item">
                            <span>余额变动(分):</span>
                            <input type="text" id="add_remainder" maxlength="9" name="add_remainder" :placeholder="变动余额">
                        </div>
                        <div class="modal-item">
                            <span>{{langData.balance[lang]}}:</span>
                            <span id="remainder"></span>元
                        </div>
                
                        <!-- <div class="modal-item">
                            <span>{{langData.AffiliatedShop[lang]}}:</span>
                            <span id="restaurant_name"></span>
                        </div> -->

                    </div>
                    <div class="text-center">
                        <button type="button" class="blue-btn" data-dismiss="modal" onclick="commit_member()">{{langData.save[lang]}}</button>
                        <button type="button" class="blue-btn" data-dismiss="modal">{{langData.off[lang]}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</block>

<block name="js">
    <script>
        //编辑前的填充
        function modify_member(i) {
            $.ajax({
                type: "get",
                url: "/index.php/Admin/Memberlist/vip_info/id/" + i + "",
                async: false,
                dataType: "json",
                success: function(data) {
                    $("#headimgurl").attr('src', data.avatar);
                    $("input[name='realname']").val(data.realname);
                    $("select[name='sex'] option[value='"+(data.sex?data.sex:'')+"']").attr("selected", true);
                    $("input[name='mobile']").val(data.mobile);
                    $("#nickname").text(data.nickname);
                    // $("input[name='birthday']").val(data.birthday);
                    $("#remainder").text(data.money);
                    $("input[name='id']").val(data.id);
                }
            });
        }
        function delInfo(id) {
            layer.confirm('是否确认删除会员？', {
                btn: ['确认','取消'] //按钮
            }, function(){
                $.ajax({
                    url: "/index.php/Admin/Memberlist/delInfo",
                    type: "post",
                    data: { "id": id},
                    dataType:"json",
                    success: function(data) {
                        layer.msg('删除成功', {time: 1000} , function(){
                            window.location.reload();
                        });
                    },
                    error: function() {
                        console.log("访问出错");
                    }
                });
                // layer.msg('的确很重要', {icon: 1});
            // }, function(){
              
            });
        }
        //编辑店铺和新增店铺
        function commit_member(){
            var realname = $("input[name='realname']").val();
            var sex = $("#sex option:selected").val();
            var mobile = $("input[name='mobile']").val();
            // var age = $("input[name='age']").val();
            // var birthday = $("input[name='birthday']").val();
            var password = $("input[name='password']").val();
            var passwords = $("input[name='passwords']").val();
            var id = $("input[name='id']").val();
            var add_remainder = $("input[name='add_remainder']").val();
            var p = parseInt($('.current').text());
            if(p == 'NaN'){
                p = 1;
            }else{
                p = parseInt($('.current').text());
            }
            if(realname && sex && mobile && id){
                $.ajax({
                    type:"post",
                    url:"/index.php/Admin/Memberlist/vip_post",
                    async:true,
                    data:{"realname":realname,"sex":sex,"mobile":mobile,"password":password,"passwords":passwords,"id":id,'add_remainder':add_remainder},
                    dataType:"json",
                    success:function(data){
                        if(data.code == 1){
                            layer.msg(data.msg);
                            $("#storeModal").modal("hide");
                            self.location.href = "/index.php/Admin/Memberlist/vip/page/"+p+".html";
                        }
                    },
                    error:function(){
                        layer.msg("出错了或帐号已存在！");
                    }
                });
            }else{
                layer.msg("所显示项不能为空！");
            }
        }

        // 导出
        function memberExcel() {
            $("#search_form").attr('action', '{:U("Memberlist/memberExcel")}');
            $("#search_form").submit();
        }
        // 导入
        function memberImportPost(){
            let data = new FormData($('#submitButton').parents('form')[0]);
            $.ajax({
                url: "/index.php/admin/Memberlist/memberImportPost",
                type: 'POST',
                data: data,
                dataType: 'json',
                processData: false,   // jQuery不要去处理发送的数据
                contentType: false,   // jQuery不要去设置Content-Type请求头
                success: function (res) {
                    layer.msg(res.info,{anim: 2,time: 1500},function () {
                        window.location.reload();
                    });
                }
            });
            
        }
    </script>
</block>