@charset "utf-8";
@font-face {
	font-family: 'STXingkai';
	src: url(../iconfont/STXingkai.ttf);
}
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	moz-user-select: -moz-none; 
	-moz-user-select: none; 
	-o-user-select:none; 
	-khtml-user-select:none; 
	-webkit-user-select:none; 
	-ms-user-select:none; 
	user-select:none;
	font-family: "宋体",sans-serif;
}
div{
	box-sizing: border-box;
}
.bg-img{
	top: 0px;
	left: 0px;
	z-index: -1;
	width: 100%;
	height: 100%;
	position: fixed;
}



.review-body{
	width: 100%;
}
.head-title{
	width: 100%;
	padding: 0 20%;
	margin-bottom: 15px;
	box-sizing: border-box;
}
.title-img{
	width: 70%;
	margin: 0 2%;
	display: inline-block;
}
.icon-img{
	width: 10%;
}
.review-head{
	width: 100%;
	padding-top: 50px;
	text-align: center;
	padding-bottom: 30px;
}
.review-head .img2{
	width: 35%;
	display: block;
	margin: 0 auto 10px;
}
.review-head .img-last{
	width: 15%;
	display: block;
	margin: 30px auto 0px;
}
.review-main{
	width: 100%;
	box-sizing: border-box;
	padding: 20px 5% 20px 16%;
}
.review-item{
	width: 280px;
	margin: 0 8% 8% 0;
	display: inline-block;
	border: 2px solid #ff7900;
}
.item-top{
	width: 100%;
	height: 79%;
	overflow:  hidden;
	background: #FFF;
}
.item-top>img{
	width: 100%;
	height: 100%;
}
.item-bottom{
	height: 50px;
	padding: 0 5px;
	text-align: left;
	line-height: 50px;
	background: #FFF;
	position: relative;
	overflow: hidden;
	border-top: 2px solid #ff7900;
}
.dianzan{
	top: -0.75rem;
	right: 0px;
	width: 40%;
	height: 100%;
	font-size: 14px;
	min-width: 50px;
	cursor: pointer;
	position: absolute;
	text-align:  right;
	padding-right: 5px;
	display: inline-block;
	background: #FFF;
}
.food-name{
	width: 7em;
	max-width: 70%;
	overflow: hidden;
	color: #ff7900;
	line-height: 50px;
	font-size: 1.4rem;
	white-space: nowrap;
	display: inline-block;
	font-family: 'STXingkai';
}
.dianzan>img{
	height: 70%;
	margin-right: -0.4rem;
	vertical-align: middle;
}
.zan-num{
	height: 100%;
	color: #FF0303;
	font-size: 0.7rem;
	display: inline-block;
	vertical-align:  top;
	margin-top: -0.7rem;
}
.review-foot{
	left: 0px;
	width: 100%;
	bottom: 0px;
	z-index: -1;
	position: fixed;
}
.review-foot>img{
	width: 100%;
}
.review-middle{
	left: 0px;
	width: 100%;
	top: 50%;
	z-index: -1;
	position: fixed;
}
.middle-img{
	width: 100%;
}
.zan-modal-div{
	left: 0;
	top: 0%;
	width: 100%;
	height: 100%;
	z-index: 899;
	position: fixed;
	background: rgba(0,0,0,0.4);
}
.zan-modal{
	top: 30%;
	width: 100%;
	z-index: 1000;
	position: fixed;
	text-align: center;
}
.zan-content{
	width: 30%;
	padding: 40px 0px;
	background: #FFF;
	border-radius: 0.4rem;
	display: inline-block;
}
.zan-content>img{
	width: 40%;
}
.modal-text{
	color: #ff0707;
	font-size: 3rem;
	font-weight: bolder;
	padding: 1rem 0rem 0.5rem 2rem;
}
.text-num{
	color: #333;
	font-size: 2.5rem;
	font-weight: bolder;
	padding: 0rem 0rem 0.5rem;
}
.modal-btn{
	color: #FFF;
	width: 60%;
	cursor: pointer;
	font-size: 3rem;
	font-weight: bolder;
	background: #ff7900;
	padding: 0.3rem 0rem;
	display: inline-block;
	border-radius: 0.4rem;
}
@media screen and (orientation:portrait) {
	.review-scorll{
		top: 17%;
		left: 0px;
		width: 100%;
		position: fixed;
		height: 83%;
		padding: 0px 8% 0px 10%;
	}
	.review-main{
		width: 100%;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		white-space: nowrap;
		padding: 30px 0% 20px 0%;
	}
}
@media only screen and (max-width: 640px) {
	.food-name{
		width: 6em;
	}
	.zan-modal{
		top: 30%;
	}
	.zan-content{
		width: 80%;
		padding: 30px 0px;
	}
	.modal-text{
		font-size: 2.2rem;
		padding: 1rem 0rem 0.5rem 1.4rem;
	}
	.text-num{
		font-size: 2rem;
		padding: 0rem 0rem 0.8rem;
	}
	.modal-btn{
		font-size: 2rem;
		padding: 0.5rem 0;
	}
	.review-head{
		padding-top: 25px;
		padding-bottom: 0px;
	}
	.head-title{
		padding: 0 3%;
		margin-bottom: 5px;
	}
	.review-head .img2{
		width: 55%;
	}
	.review-head .img-last{
		width: 30%;
		margin: 12px auto;
	}
	.review-main{
		padding: 3% 0% 0 0%;
	}
	.review-item{
		width: 40%;
		margin: 0 8% 10% 0;
	}
	.item-top{
		width: 100%;
		height: 79%;
	}
	.item-top>img{
		width: 100%;
		height: 100%;
	}
	.item-bottom{
		height: 19%;
		line-height: 19%;
		padding: 0 3px;
		overflow: hidden;
	}
	.dianzan{
		top: 15%;
		right: 3px;
		max-width: 40%;
		padding-right: 2px;
		background: #FFF;
	}
	.food-name{
		font-size: 100%;
		line-height: 1.8rem;
	}
	.zan-num{
		margin-top: 0.3em;
	}
	.review-scorll{
		padding: 0px 8% 0px 8.5%;
	}
}
@media only screen and (min-height: 760px) and (max-height: 900px) {
	.review-scorll{
		top: 13%;
		height: 87%;
	}
}
@media (min-width: 641px) and (max-width: 800px) and (min-height: 920px) and (max-height: 1200px) {
	.review-scorll{
		top: 20%;
		height: 80%;
	}
}
@media (min-width: 641px) and (max-width: 800px) and (min-height: 800px) and (max-height: 1090px){
	.zan-modal{
		top: 35%;
	}
	.zan-content{
		width: 60%;
	}
	.head-title{
		padding: 0 7%;
	}
	.review-head .img2{
		width: 55%;
	}
	.review-head .img-last{
		width: 26%;
	}
	.review-main{
		padding: 20px 0% 20px 0%;
	}
	.dianzan{
		top: 0.3rem;
	}
	.zan-num{
		font-size: 14px;
		margin-top: -1rem;
	}
}
@media (min-width: 641px) and (max-width: 800px) and (min-height: 1100px) and (max-height: 1370px){
	.zan-modal{
		top: 35%;
	}
	.zan-content{
		width: 60%;
	}
	.head-title{
		padding: 0 7%;
	}
	.review-head .img2{
		width: 55%;
	}
	.review-head .img-last{
		width: 26%;
	}
	.review-main{
		padding: 20px 0% 20px 0%;
	}
	.dianzan{
		top: 1rem;
	}
	.zan-num{
		font-size: 14px;
		margin-top: -1rem;
	}
}
@media (min-width: 801px) and (max-width: 1100px) and (min-height: 1100px) and (max-height: 1370px){
	.dianzan{
		top: 1rem;
	}
}
@media (min-width: 801px) and (max-width: 1100px) and (min-height: 1800px) and (max-height: 2000px){
	.zan-modal{
		top: 35%;
	}
	.zan-content{
		width: 40%;
	}
	.review-head{
		padding-top: 90px;
	}
	.head-title{
		padding: 0 3%;
	}
	.review-head .img2{
		width: 55%;
	}
	.review-head .img-last{
		width: 30%;
	}
	.review-main{
		padding: 30px 0% 20px 0%;
	}
	.food-name{
		width: 6em;
	}
	.dianzan{
		top: 1.1em;
	}
	.zan-num{
		font-size: 15px;
		margin-top: -0.4rem;
	}
}
@media screen and (orientation:landscape) {
	.item-ver{
		white-space: normal;
		vertical-align: top;
		display: inline-block;
	}
	.review-scorll{
		top: 30%;
		left: 0px;
		width: 100%;
		height: 70%;
		position: fixed;
		padding: 0px 20% 0px 20%;
	}
	.review-main{
		width: 100%;
		height: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;
		padding: 20px 0% 20px 0%;
	}
}
@media (min-width: 1101px) and (max-width: 1370px) and (min-height: 700px) and (max-height: 800px){
	.zan-modal{
		top: 30%;
	}
	.zan-content{
		width: 40%;
	}
	.review-scorll{
		padding: 0px 21% 0px 21%;
	}
	.dianzan{
		top: -6px;
	}
	.zan-num{
		font-size: 16px;
		margin-top: -0.7rem;
	}
}
@media (min-width: 1380px) and (max-width: 1930px) and (min-height: 801px) and (max-height: 1100px){
	.zan-modal{
		top: 30%;
	}
	.zan-content{
		width: 40%;
	}
	.review-head{
		padding-top: 60px;
	}
	.review-scorll{
		top: 27%;
		height: 73%;
		padding: 0px 18% 0px 19%;
	}
	.dianzan{
		top: 2px;
	}
	.food-name{
    	width: 10em;
    }
	.zan-num{
		font-size: 16px;
		margin-top: -0.7rem;
	}
}