</div>
    <script src="__STATIC__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__STATIC__/js/bootstrap.min.js?v=3.3.5"></script>
    <script src="__STATIC__/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__STATIC__/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__PUBLIC__/layer/layer.js"></script>
    <script src="__PUBLIC__/layer/layui.js"></script>
    <script src="__STATIC__/js/hplus.min.js?v=4.0.0"></script>
    <script src="__STATIC__/js/contabs.min.js"></script>
    <script src="__STATIC__/js/plugins/pace/pace.min.js"></script>
</body>
</html>