<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/ydc_order.css"/>
		<title>支付成功</title>
	</head>
	<body class="vip-body">
		<div class="succ-content">
			<img class="vip-img" src="__PUBLIC__/images/vip_succ.png"/>
			<div>支付成功</div>
		</div>
		<div class="back-btns">
			<a class="complete-btn" href="/index.php/mobile/Order/index/restaurant_id/{$restaurant_id}">完成</a>
		</div>
	</body>
</html>
