
<include file="Public:base" />
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal mysubform" enctype="multipart/form-data" onsubmit="return false">
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <input type="hidden" name="store_id" id="id" value="{$data.id|default=0}"/>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">微信头像</label>
                                <div class="col-sm-7">
                                    <img src="{$data.avatar}" alt="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">微信昵称</label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" name="nickname" value="{$data.nickname}" placeholder="微信昵称" readonly="readonly"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">会员名称</label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" name="realname" value="{$data.realname}" placeholder="会员名称" readonly="readonly"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">电话</label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" name="mobile" value="{$data.mobile}" placeholder="电话" readonly="readonly"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">性别</label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" name="sex" value="{$data.sex}" placeholder="性别" readonly="readonly"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">公众号openid</label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" name="openid_wx" value="{$data.openid_wx}" placeholder="公众号openid" readonly="readonly"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">出生日期</label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" name="birthday" value="{$data.birthday}" placeholder="出生日期" readonly="readonly"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">地址</label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" name="addr" value="{$data.addr}" placeholder="地址" readonly="readonly"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">注册时间</label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" name="create_at" value="{$data.create_at}" placeholder="注册时间" readonly="readonly"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商户名称</label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" name="merchant_name" value="{$data.merchant_name}" placeholder="商户名称" readonly="readonly"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">状态</label>
                                <div class="col-sm-7">
                                    <label class="checkbox-inline">
                                        <input type="radio" name="status" value="1"
                                        <if condition="$data.status eq 1">checked="checked"</if>
                                        class="minimal"> 启用
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="radio" name="status" value="0"
                                        <if condition="$data.status eq 0">checked="checked"</if>
                                        class="minimal"> 禁用
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-7">
                           <!--  <div class="btn-group pull-right">
                                <button type="submit" class="btn btn-primary pull-right submits" id="mysubform">提交
                                </button>
                            </div> -->
                           <!--  <div class="btn-group pull-left">
                                <button type="reset" class="btn btn-warning">重置</button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function(){

        $("select[name='act_type']").change(function(){
            var selectText = $(this).find('option:selected').text();
            $("input[name='amount']").parent().prev().html('<b style="color: red;">*&nbsp;</b>优惠'+selectText);
        });

        $('.submits').click('click', function () {
            $('.submits').attr('disabled','true');
            var store_name = $('input[name="store_name"]').val();
            var store_addr = $('input[name="store_addr"]').val();
            if(store_name && store_addr){
                let data = new FormData($('#mysubform').parents('form')[0]);
                $.ajax({
                    url: "",
                    type: 'POST',
                    data: data,
                    dataType: 'Json',
                    processData: false,   // jQuery不要去处理发送的数据
                    contentType: false,   // jQuery不要去设置Content-Type请求头
                    success: function (res) {
                        if (res.status == 1) {
                            layer.msg(res.info, {icon: 1, closeBtn: 1, shadeClose: true});
                            setTimeout(function () {
                                parent.layer.closeAll();
                            }, 3000);
                        } else {
                            $('.submits').removeAttr('disabled');
                            layer.msg(res.info, {icon: 5, closeBtn: 1, shadeClose: true});
                        }
                    }
                });
            }else{
                layer.msg('带星的为必填');
                $('.submits').removeAttr('disabled');
            }
            return false;
        });
    });

    function onlyNumber (obj) {
        //禁止录入整数部分两位以上，但首位为0
        obj.value = obj.value.replace(/^([1-9]\d*(\.[\d]{0,2})?|0(\.[\d]{0,2})?)[\d.]*/g, '$1');
        //先把非数字的都替换掉，除了数字和.
        obj.value = obj.value.replace(/[^\d\.]/g, '');
        //必须保证第一个为数字而不是.
        obj.value = obj.value.replace(/^\./g, '0.');
        //保证只有出现一个.而没有多个.
        obj.value = obj.value.replace(/\.{2,}/g, '.');
        //保证.只出现一次，而不能出现两次以上
        obj.value = obj.value.replace('.', '$#$').replace(/\./g, '').replace('$#$', '.');
        //只能输入两个小数
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3');
        return obj.value;
    }
</script>
